@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Lilita+One&family=Patrick+Hand&display=swap');


:root {
    margin: 10px;
    text-align:center;
  } 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*---------------- NAVBAR--------------------*/

.menu__logo {
    font-size: 3em;
    padding-right: 80px;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-family: 'Lilita One', cursive, Arial, Helvetica,sans-serif;
}

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
    z-index: 1;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel-item.active {
    opacity: 1;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
.carousel-control:hover {
    background: rgba(0, 0, 0, 0.7);
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.carousel-control-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}
.carousel-control-prev .carousel-control-icon {
    transform: rotate(180deg);
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    
  }
  
#logo {
    font-family: 'Lilita One', cursive, Arial, Helvetica,sans-serif;
    color: yellow;
  }


  .carousel-caption h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 24px;
    
  }
 /*---------------- MEDIA QUERY--------------------*/ 
  
  @media (max-width: 767px) {
    .carousel {
        width: 100%;
        height: 250px;
        margin-top: 60px;
        
    }
    
    .carousel-caption h3 {
        font-size: 24px;
        
      }
      
      .carousel-caption p {
        font-size: 16px;
        
      }

      .fotocar{
        width: 100%;
        height: 90%;
      }
      .logo{
        font-size: 10px;

      }
      .menu__logo {
        font-size: 16px;
       
    }

    .info h2{
        padding-top: 0px;
        font-size: 24px;
      }
      
      .info p {
        margin: 5px;
        font-size: 20px;
      }

      .card.green,
      .card.blue,
      .card.red {
        display: none;
    }

   .opiniones-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          margin: 0 auto;
        }
      
        .opinion-card {
          width: 100%;
          max-width: 400px;
          margin-bottom: 20px;
        }

        .card-container {
            grid-template-columns: repeat(1, 1fr); /* Cambiamos a 1 columna para dispositivos móviles */
          }
          .card:hover {
            transform: scale(1.1);
            z-index: 2;
          }

          /* Estilos de las secciones 
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el desplazamiento suave 
.menu__links a {
    scroll-behavior: smooth;
}*/
      }
      

      
      
  