@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Lilita+One&family=Patrick+Hand&display=swap');
:root {
  margin: 10px;
  text-align:center;
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  body {
    
    background-color: #f3efef;
  }
  
 
  
  
  /*CONTACTOS*/

  #registro-form {
    display: grid;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }
  
  #registro-form label {
    font-weight: bold;
  }
  
  #registro-form input[type="text"],
  #registro-form input[type="email"],
  #registro-form input[type="tel"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  #registro-form button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #registro-form button:hover {
    background-color: #3e8e41;
  }
  

  /* -----------------------CARD ALOJAMIENTO ----------------------*/
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  position: relative;
}

.card-image {
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@keyframes card-hover {
  from {
    transform: scale(1);
    z-index: 1;
  }
  to {
    transform: scale(1.1);
    z-index: 2;
  }
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  animation-name: card-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}


  
  