@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Lilita+One&family=Patrick+Hand&display=swap');

:root {
  margin: 0;
  text-align:center;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR*/
.menu__logo {
  font-size: 3em;
  padding-right: 80px;
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: 'Lilita One', cursive, Arial, Helvetica,sans-serif;
}
  
/*CONTACTOS*/

#registro-form {
  display: grid;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

#registro-form label {
  font-weight: bold;
}

#registro-form input[type="text"],
#registro-form input[type="email"],
#registro-form input[type="tel"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

#registro-form button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#registro-form button:hover {
  background-color: #3e8e41;
}


/* -----------------------CARD ALOJAMIENTO ----------------------*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  position: relative;
}

.card-image {
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@keyframes card-hover {
  from {
    transform: scale(1);
    z-index: 1;
  }
  to {
    transform: scale(1.1);
    z-index: 2;
  }
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  animation-name: card-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

footer {
  display: flex;
}

.footer-logo,
.footer-links,
.footer-contacto,
.footer-redes,
.social-media-links {
flex: 1;
font-size: 1rem;
font-weight: 500;
line-height: 1.375rem;
font-family: "Sofia Pro", sans-serif;
color: rgb(255, 255, 255);
opacity: 0.64;
text-decoration-line: none;
transition-duration: 0.3s;
transition-timing-function: ease-in;
transition-delay: 0s;
transition-property: opacity;
margin-bottom: 1rem;
}
  
  