@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  margin: 0px;
  text-align:center;
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  font-family: 'Poppins', sans-serif;
}

/* ------------------------ Nav -------------------------------- */
.menu{
  background-color: rgb(57,106,177);
  color: yellow;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  
  
}

.menu__logo {
  font-size: 3em;
}



.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%x;
  margin: auto;
}

.menu__links{
  height: 100%;
  transition: transform 5s;
  display: flex;
  font-size: 2em;
}
.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;

}

.menu__link{
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover{
  background-color: #5e7094;
}



.menu__nesting{
  list-style: none;
  transition: clip-path .3s;
   clip-path: var(--clip);
   position: absolute;
   right: 0;
   bottom: 0;
   width: max-content;
   transform: translateY(100%);
   background-color: rgb(57,106,177);
   display: none;
   z-index: 1;
  }


  .menu__nesting--visible{
    display: block;
  }

  .menu__link--inside{
    padding: 10px 20px 10px 10px;
  }

  .menu__link--inside:hover{
    background-color: rgb(57,106,177);
  }

  .menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
  }

  .menu__img{
    display: block;
    width: 36px;
  
    
  }
  
#presentacion {
  background-color:white; 
  padding: 30px;
  text-align: center;
  margin-top: 90px ;
  ;
  position: relative;
  z-index: 1;
  
}
.info{
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  
  color: rgb(57,106,177);
}



.contenido {
  padding-top: 10px;
}

main{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

a:link {
  color: rgb(57,106,177);
}

a:visited {
  color: rgb(236,97,159)
}

a:hover{ 
  color: rgb(119,200,208)
}

a:active {
  color:rgb(33,164,143);
}
