@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Lilita+One&family=Patrick+Hand&display=swap');


:root {
  margin: 10px;
  text-align:center;
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ------------------------ Nav -------------------------------- */


.menu{
  background-color: rgb(57,106,177);
  color: yellow;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  
  
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px; 
}


.menu__logo {
  font-size: 3em;
  padding-right: 80px;
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: 'Lilita One', cursive, Arial, Helvetica,sans-serif;
}

.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.menu__links{
  height: 100%;
  
  display: flex;
  font-size: 1.3em;
}

.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link{

  text-decoration: none;
  padding: 10px;
  display: flex;
  height: 50%;
  align-items: center;
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

.menu__link:hover{
  background-color: #8d989a;
  
}

.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 2px;
}

.menu__nesting{
  list-style: none;
  transition: clip-path .3s;
   clip-path: var(--clip);
   position: absolute;
   right: 0;
   bottom: 0;
   width: max-content;
   transform: translateY(100%);
   background-color: rgb(57,106,177);
   z-index: 1;
  }

  .menu__link--inside{
    padding: 10px 9px 10px 9px;
  }

  .menu__link--inside:hover{
    background-color: rgb(57,106,177);
  }

  .menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 45px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
      background-color: var(--background);
      
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%)
       
       
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 50%;
        transform: translateY(0);
        height: 0;
        transition: height 0.3s;
        background-color: #5e7094 ;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
   
  }

    


  
/*---------------- API TEMPERATURA----------------*/
  
  #weather-container {
    background-color: rgb(57,106,177);
    border-radius: 5px;
    padding: 8px;
    float: right; 
    margin-top: 0;
    margin-right: 0; 
    
  }

  .weather-img{
    padding-left: 0;
    right: 0;

  }
  
  #temperature {
    font-size: 18px;
    font-weight: bold;
    margin-right: 0;
  }
  
  #description {
    font-size: 12px;
    margin-top: 8px;
  }
  
  #humidity {
    font-size: 12px;
    margin-top: 5px;
  }

  #country {
    font-size: 12px;
    margin-top: 5px;
  }

  /*------GENERAL------*/
  
  #presentacion {
    padding: 30px;
    text-align: center;
    margin-top: 90px ;
    position: relative;
    z-index: 1;
    
  }

  
  .contenido {
    padding-top: 10px;
  }
  
  main{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
  }
  
  a:link {
    color: rgb(57,106,177);
  }
  
  a:visited {
    color: rgb(251,164,5);
  }
  
  a:hover{ 
    color: rgb(119,200,208);
  }
  
  a:active {
    color:rgb(33,164,143);
  }

  footer{
    font-family: 'Poppins', sans-serif;
  }

 
.background-body {
  background-image: url("../img/header-background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------------- FOOTER -----------------------------*/
footer {
  position: relative;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  text-align: center;
  background: url("../img/background-azul-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}
  
.introduccion {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

footer {
  display: flex;
}

.footer-logo,
.footer-links,
.footer-contacto,
.footer-redes,
.social-media-links {
flex: 1;
font-size: 1rem;
font-weight: 500;
line-height: 1.375rem;
font-family: "Sofia Pro", sans-serif;
color: rgb(255, 255, 255);
opacity: 0.64;
text-decoration-line: none;
transition-duration: 0.3s;
transition-timing-function: ease-in;
transition-delay: 0s;
transition-property: opacity;
margin-bottom: 1rem;
}

