:root {
  margin: 0px;
  text-align:center;
} 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  font-family: 'Poppins', sans-serif;
}

/* ------------------------ Nav -------------------------------- */
.menu{
  background-color: rgb(57,106,177);
  color: yellow;
  height: 87px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  
  
}

.menu__logo {
  font-size: 3em;
}



.menu__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

.menu__links{
  height: 100%;
  transition: transform 5s;
  display: flex;
  font-size: 1.3em;
}
.menu__item{
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover{
  --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__arrow{
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: 3px;

}

.menu__link{

  text-decoration: none;
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  
}

.menu__link:hover{
  background-color: #8d989a;
  
}



.menu__nesting{
  list-style: none;
  transition: clip-path .3s;
   clip-path: var(--clip);
   position: absolute;
   right: 0;
   bottom: 0;
   width: max-content;
   transform: translateY(100%);
   background-color: rgb(57,106,177);
   display: none;
   z-index: 1;
  }


  .menu__nesting--visible{
    display: block;
  }

  .menu__link--inside{
    padding: 10px 20px 10px 10px;
  }

  .menu__link--inside:hover{
    background-color: rgb(57,106,177);
  }

  #menu, #menu-check{
    display: none;
  }

  #presentacion {
    background-color:white; 
    padding: 30px;
    text-align: center;
    margin-top: 90px ;
    position: relative;
    z-index: 1;
    
  }
  .info{
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
    color: rgb(57,106,177);
  }
  
  .contenido {
    padding-top: 10px;
  }
  
  main{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
  }
  
  a:link {
    color: rgb(57,106,177);
  }
  
  a:visited {
    color: rgb(236,97,159)
  }
  
  a:hover{ 
    color: rgb(119,200,208)
  }
  
  a:active {
    color:rgb(33,164,143);
  }

 
  




 

  /*@media only screen and (max-width:700px){
    nav.menu div.contenedor{
      display: flex;
      place-content: space-between;

    }
    #menu-check:not(:checked) ~ div.contenedor{
      display: none;
    }
    #menu-check:checked ~ div.contenedor{
      display: block;
    }
    #menu{
      display: block;
      color: #5e7094;
      background-color: azure;
      font-size: 1.2em;
      font-weight: bold;
      border: 3px solid yellow;
      border-radius: 0.3em;
      position: absolute;
      right: 0.5em;
      top: 5.5em;

    }
    #menu:hover{
      color: aqua;
      background: #4f0cf9;
    }
    #menu-cerrar {
      display: none;
    }
    #menu-check:checked ~ label #menu-abrir{
      display: none;
    }
    #menu-check:checked ~ label #menu-cerrar{
      display: block;
  }
  nav div.contenedor{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #4f0cf9;
    padding-top: 0.5em;
    padding-right: 1.5em;
    color: #5e7094;
  }
}*/