@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Indie+Flower&family=Lilita+One&family=Patrick+Hand&display=swap');

:root {
  margin: 0;
  text-align:center;
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------- CARD DESTINO ---------------------------------- */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-gap: 20px; /* espacio entre las tarjetas */
  margin: 50px;
  padding-bottom: 50px;
}
  
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  position: relative;
}

/* -------------------- TRANSFORMACIONES Y ANIMACIONES CARD DESTINO ---------------------------------- */

@keyframes card-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.card-detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding: 20px;
  box-sizing: border-box; 
  color: #fff; 
  text-align: center; 
}

.card:hover {
  transform: scale(1.5);
  z-index: 2;
}

.card:hover .card-detail {
  display: block;
}



/* -------------------- MEDIA QUERY CARD DESTINO ---------------------------------- */

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr); /* Cambiamos a 1 columna para dispositivos móviles */
  }
  .card:hover {
    transform: scale(1.1);
    z-index: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* Cambiamos a 2 columnas para tablets */
  }
}






