<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="img\ubicacion-logo.png" type="image/x-icon" >
    <title>Travellers</title>
    <link rel="stylesheet" type="text/css" href="../CSS/nav.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
   
</head>

<body>
   <header>
    <nav class="menu">
        <section class="menu__container">
          <img class="logo" src="../img/ubicacion-logo.png" height="60" alt="logo">
          <h1 class="menu__logo">TRAVELLERS</h1>
        
        <ul class="menu__links">
            <li class="menu__item">
                <a href="../index.html" class="menu__link">Home</a>
            </li>
            <li class="menu__item menu__item--show">
               <a href="#" class="menu__link">Servicios<img src="../assets/arrow.svg" class="menu__arrow"></a>

               <ul class="menu__nesting menu__nesting--visible">
                <li class="menu__inside active" aria-current="page">
                    <a id="destinos-menu" href=" " class="menu__link menu__link--inside">Destino</a>
                </li>
                <li class="menu__inside">
                    <a href="./Alojamiento.html" class="menu__link menu__link--inside">Alojamientos</a>
                </li>
                <li class="menu__inside">
                    <a href="./Transportes.html" class="menu__link menu__link--inside">Transportes</a>
                </li>
               </ul>
            </li>
            <li class="menu__item">
               <a  href="./contactos.html" class="menu__link">Contacto</a>
            </li>
            <li class="menu__item">
               <a href="./Iniciar Sesion.html" class="menu__link">Iniciar Sesion</a>
            </li>
        </ul>
        <div id="weather-container">
          <p id="temperature"></p>
          <p id="description"></p>
          <p id="humidity"></p>
          <p id="country"></p>
        </div>

        <div class="weather-img">
            <img src="../img/clima-img.jpg" alt="imagen de clima" width="50%" height="50%">  
        </div>  
    </section>

    </nav>
</header>
<main>
       <div id="presentacion">
            <h1>Destinos</h1>
            <br>
            <p><b>¿Donde va a ser tu próxima aventura?</b></p>
            <!-- <form id="busqueda-destinos">
                <br>
                <label>Ciudad:</label>
                <input type="text" placeholder="Ingrese su proximo destino">


            </form> --> <!--      PARA APLICAR CON BACKEND      -->
        </div> 
            
  

      <div class="card-container">

        <div class="card">
          <img src="../img/mendoza.jpeg" alt="Imagen" class="card-image">
          
          <div class="card-detail">
            <h2>Mendoza, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
            
          </div>
        </div>

        <div class="card">
          <img src="../img/cataratas-del-iguazu.jpg" alt="Cataratas del Iguaz" class="card-image">
          
          <div class="card-detail">
            <h2>Cataratas del Iguazú, Misiones, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
           
            
          </div>
        </div>

        <div class="card">
          <img src="../img/el-chalten.jpg" alt="El Chaltén" class="card-image">
          

          <div class="card-detail">
            <h2>EL Chaltén, Santa Cruz, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
            
            
          </div>
        </div>

        <div class="card">
          <img src="../img/cerro-7-colores-purmamarca.jpg" alt="Purmamarca" class="card-image">
        
          <div class="card-detail">
            <h2>Pumamarca, Jujuy, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
           
            
          </div>
        </div>

        <div class="card">
          <img src="../img/Calafate.png" alt="El Calafate" class="card-image">
         
          <div class="card-detail">
            <h2>EL Calafate, Santa Cruz, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
            
          </div>
        </div>
        
        <div class="card">
          <img src="../img/Llao-Llao.jpg" alt="Hotel Llao Llao" class="card-image">
         
          <div class="card-detail">
            <h2>Bariloche, Chubut, Argentina</h2>
            <p>Descripción</p>
            <a href="./Transportes.html">cotizar</a>
            
          </div>
        </div>

      </div>


    </main>

    <footer>
      <div class="footer-logo">
         <h3>Travellers</h3>
         <p>&copy; 2023 Travellers, Inc. Todos los derechos reservados.</p>
      </div>
      <div class="footer-links">
         <h4>Enlaces</h4>
         <ul>
             <li><a href="views/Destino.html">Destinos</a></li>
             <li><a href="views/contactos.html">Contacto</a></li> <!-- Lleva a pag con formulario para contactar  -->
             <li><a href="#">Sobre Nosotros</a></li><!-- Lleva a otra pagina about us -->
             <li><a href="#">Términos y condiciones</a></li>
             <li><a href="#">Política de privacidad</a></li>
         </ul>
      </div>
      <div class="footer-contacto">
         <h4>Contacto</h4>
         <p>Av Cordoba 4500, Villa Crespo</p>
         <p>+54 9 1122334455</p>
         <p>info@travellers.com.ar</p>
      </div>
      <div class="footer-redes">
         <h4>Síguenos en redes sociales</h4>
         <ul class="social-media-links">
             <li><a href="https://www.facebook.com/travellers"><i class="fab fa-facebook"></i></a></li>
             <li><a href="https://twitter.com/travellers"><i class="fab fa-twitter"></i></a></li>
             <li><a href="https://www.instagram.com/travellers"><i class="fab fa-instagram"></i></a></li>
         </ul>
      </div>
   </footer>
   
    
    
    <script type="text/javascript" src="../JS/nav.js"></script>
    <script type="text/javascript" src="../JS/destino.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
