<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" href="img\ubicacion-logo.png" type="image/x-icon" >
    <title>Travellers</title>
    <link rel="stylesheet" type="text/css" href="../CSS/nav.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
   
</head>

<body>
   <header>
    <nav class="menu">
        <section class="menu__container">
          <img class="logo" src="../img/ubicacion-logo.png" height="60" alt="logo">
          <h1 class="menu__logo">TRAVELLERS</h1>
        
        <ul class="menu__links">
            <li class="menu__item">
                <a href="../index.html" class="menu__link">Home</a>
            </li>
            <li class="menu__item menu__item--show">
               <a href="#" class="menu__link">Servicios<img src="../assets/arrow.svg" class="menu__arrow"></a>

               <ul class="menu__nesting menu__nesting--visible">
                <li class="menu__inside active" aria-current="page">
                    <a id="destinos-menu" href=" " class="menu__link menu__link--inside">Destino</a>
                </li>
                <li class="menu__inside">
                    <a href="./Alojamiento.html" class="menu__link menu__link--inside">Alojamientos</a>
                </li>
                <li class="menu__inside">
                    <a href="./Transportes.html" class="menu__link menu__link--inside">Transportes</a>
                </li>
               </ul>
            </li>
            <li class="menu__item">
               <a  href="./contactos.html" class="menu__link">Contacto</a>
            </li>
            <li class="menu__item">
               <a href="./Iniciar Sesion.html" class="menu__link">Iniciar Sesion</a>
            </li>
        </ul>
        <div id="weather-container">
          <p id="temperature"></p>
          <p id="description"></p>
          <p id="humidity"></p>
          
        </div>

        <div class="weather-img">
            <img src="../img/clima-img.jpg" alt="imagen de clima" width="50%" height="50%">  
        </div> 
        <div class="menu__hamburguer">
          <img src="../assets/menu.svg" class="menu__img">
      </div> 
    </section>

    </nav>
</header>
<main>
       <div id="presentacion">
            <h1>Destinos</h1>
            <br>
            <p><b>¿Donde va a ser tu próxima aventura?</b></p>
            <!-- <form id="busqueda-destinos">
                <br>
                <label>Ciudad:</label>
                <input type="text" placeholder="Ingrese su proximo destino">


            </form> --> <!--      PARA APLICAR CON BACKEND      -->
        </div> 
            
  

      <div class="card-container">

        <div class="card">
          <img src="../img/mendoza.jpeg" alt="Imagen" class="card-image">
          
          <div class="card-detail">
            <h2>Mendoza, Argentina</h2>
            <br>
            <p>Provincia respaldada por la cordillera de Los Andes y el mejor vino malbec del mundo, es un lugar espectacularmente pintoresco para recorrer viñedos y satisfacer el paladar. Algunos lugares que podés visitar: El Parque Provincial Aconcagua,  el Puente del Inca, Uspallata, San Rafael y el Cañoñ del Atuel, el Hotel Villavicencio, Termas de Cacheuta y Potrerillos</p>
            <br>
            <a href="#">Transportes hasta Mendoza</a>
            <br>
            <a href="#">Alojamientos en Mendoza</a>
            <br>
          </div>
        </div>

        <div class="card">
          <img src="../img/cataratas-del-iguazu.jpg" alt="Cataratas del Iguaz" class="card-image">
          
          <div class="card-detail">
            <h2>Cataratas del Iguazú, Misiones, Argentina</h2>
            <br>
            <p>Lugar paradisiaco donde, luego de una caminata por las pasarelas, tenes una gran vista panorámica de las cataratas . También se pueden realizar paseos en lancha bajo los saltos admás de las caminatas por los senderos donde compartis paisaje junto a algunos animales de la selva semitropical. </p>
            <br>
            <a href="#">Transportes hasta Cataratas del Iguazú</a>
            <br>
            <a href="#">Alojamientos en Cataratas del Iguazú</a>
          </div>

        </div>

        <div class="card">
          <img src="../img/el-chalten.jpg" alt="El Chaltén" class="card-image">
          

          <div class="card-detail">
            <h2>EL Chaltén, Santa Cruz, Argentina</h2>
            <br>
            <p>Declarada Capital Nacional del Trekking, ubicada al borde de la zona Norte del Parque Nacional Los Glaciares, El Chaltén atrae visitantes de todo el mundo interesados en conoces el majestuoso Cerro Fitz Roy, el Cerro Torre y todo lo que rodea a ambos.</p>
            <br>
            <a href="./Transportes.html">Transportes en El Chaltén</a>
            <br>
            <a href="#">Alojamiento en El Chaltén</a>
            
            
          </div>
        </div>

        <div class="card">
          <img src="../img/cerro-7-colores-purmamarca.jpg" alt="Purmamarca" class="card-image">
        
          <div class="card-detail">
            <h2>Purmamarca, Jujuy, Argentina</h2>
            <br>
            <p>El Paseo de los Colorados, el Cerro de los siete Colores, la Cuesta de Lipan, excursiones hacia Salinas Grandes y la Laguna de Guayatayoc, estas son algunas de las cosas que podés disfrutár acá. </p>
            <br>
            <a href="./Transportes.html">Transportes a Purmamarca</a>
            <br>
            <a href="#">Alojamiento en Purmamarca</a>
           
            
          </div>
        </div>

        <div class="card">
          <img src="../img/Calafate.png" alt="El Calafate" class="card-image">
         
          <div class="card-detail">
            <h2>El Calafate, Santa Cruz, Argentina</h2>
            <br>
            <p>El Calafate, la tierra de glaciares, ofrece una rica variedad de actividades para realizar, desde la ciudad, pasando por los cerros y glaciares. Ubicado frente al Lago Argentno, en la provincia de Santa Cruz. </p>
            <br>
            <a href="#">Transportes a El Calafate</a>
            <br>
            <a href="#">Alijamiento en El Calafate</a>
            
          </div>
        </div>
        
        <div class="card">
          <img src="../img/Llao-Llao.jpg" alt="Hotel Llao Llao" class="card-image">
         
          <div class="card-detail">
            <h2>San Carlos de Bariloche, Rio Negro, Argentina</h2>
            <br>
            <p>Ciudad ubicada en el parque nacional Nahuel Huapi, en el suroeste de la provincia de Rio Negro, junto a la cordillera de los Andes. Sus reservas naturales incluyen lagos, bosques y montañas además de sus destacados centros de esquí.</p>
            <br>
            <a href="./Transportes.html">Transportes a Bariloche</a>
            <br>
            <a href="#">Alojamiento en Bariloche</a>
            
          </div>
        </div>

      </div>


    </main>

  <!-------------------------------------------- FOOTER ----------------------------------------------------------->
  <footer>
    <div class="footer-logo">
      <h3>Travellers</h3>
      <br>
      <p>&copy; 2023 Travellers, Inc. Todos los derechos reservados.</p>
    </div>
    <div class="footer-links">
      <h4>Enlaces</h4>
      <br>
      <ul type="none">
          <li><a href="views/Destino.html">Destinos</a></li>
          <li><a href="views/contactos.html">Contacto</a></li> <!-- Lleva a pag con formulario para contactar  -->
          <li><a href="#">Sobre Nosotros</a></li><!-- Lleva a otra pagina about us -->
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Política de privacidad</a></li>
      </ul>
    </div>
    <div class="footer-contacto">
      <h4>Contacto</h4>
      <br>
      <p>Av Cordoba 4500, Villa Crespo</p>
      <p>+54 9 1122334455</p>
      <p>info@travellers.com.ar</p>
    </div>
    <div class="footer-redes">
      <h4>Síguenos en redes sociales</h4>
      <br>
      <ul type="none" class="social-media-links">
          <li><a href="https://www.facebook.com/travellers"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/travellers"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/travellers"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
   
    
    <script type="text/javascript" src="../JS/menu.js"></script>
    <script type="text/javascript" src="../JS/nav.js"></script>
    <script type="text/javascript" src="../JS/destino.js"></script>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
